// .form {
// }
// input {
//   padding: 12px 20px;
//   margin: 8px 0;
//   box-sizing: border-box;
//   border: solid 2px $mid-grey;
//   border-radius: 3px;
// }
select {
  display: block;
    width: 100%;
    height: 50px;
    background-image: none;
    background-color: white;
    border: 1px solid $light-grey;
    font-size: 13px;
    line-height: 1.5;
    border-width: 2px;
    border-color: rgba(204, 209, 211, 0.5);
}
form {
    display: block;
    position: relative;
}

label {
    color: $mid-grey;
}

input[type='checkbox'] {
  cursor: pointer;
}

input[type='text'],
textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-width: 0 0 3px 0;
    border-color: rgba($mid-grey, .2);
    border-radius: 0;
    background: rgba($light-grey, .45);
    outline: none;
    padding: 15px 0 15px 10px;
    font-size: 15px;
    transition: all ease-in-out .3s;
    @include placeholder {
        color: $mid-grey;
    }
    &.error {
        border-color: $error;
        background: rgba($error, .05);
        @include placeholder {
            color: $error;
        }
    }
    &.success {
        border-color: $success;
        background: rgba($success, .05);
        @include placeholder {
            color: $success;
        }
    }
    &.warning {
        border-color: $warning;
        background: rgba($warning, .05);
        @include placeholder {
            color: $warning;
        }
    }
    &:hover {
        border-color: $mid-grey;
        background: rgba($mid-grey, .2);
        @include placeholder {
            color: $mid-grey;
        }
    }
    &.disabled {
        @extend .bg-disabled;
        border-color: $dark-grey;
        cursor: not-allowed;
        @include placeholder {
            color: $dark-grey;
        }
    }
    &:focus {
        background: rgba($info, .2);
        border-color: $info;
        @include placeholder {
            color: $info;
        }
    }
}

///inline forms
.inline-form {
    .inline-label {
        padding: 15px 0;
    }

    .btn {
        border-radius: 0;
        overflow: hidden;
        padding: 16px;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 3px;
            background-color: rgba(0,0,0,.3);
        }
    }
}
