.modal {
  background-color: white;
  box-shadow: 0 0 15px rgba($mid-grey, .35);

  .modal-header {
    margin: 0;
    background-color: $light-grey;
    padding: 15px 30px;

    .modal-title {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      // color: $light-grey;
    }
    .close {
      display: inline-block;
      vertical-align: middle;
      float: right;
      margin-top: -5px;
      padding: 10px 0;
      color: $mid-grey;
    }
  }

  .modal-content {
    padding: 0 30px;
  }
  .modal-footer {
    margin: 30px;
    padding-top: 15px;
    border-top: solid thin $light-grey;
  }
}