table {
  &.fixed {
    table-layout: fixed;
    width: 100%;
  }
  .fixed-header-placeholder {
    visibility: hidden;
    padding: 0;
  }
  tr {
    th {
      padding: 10px;
      color: white;
      font-weight: normal;
      text-align: left;
    }
    td {
      padding: 10px;
    }
  }
  thead {
    tr {
      background-color: $mid-grey;
    }
  }
  tbody {
    tr {
      border-bottom: solid thin $light-grey;
      td {
        border: solid thin $light-grey;
      }
    }
    &.striped {
      tr {
        border: none;
        td {
          border: none;
        }
        &:nth-child(even) {
          background-color: $light-grey;
        }
      }
    }
  }
  tbody {
    &.striped {
      tr {
        &:hover {
          background-color: rgba($info, .15);
        }
      }
    }
  }
  &.solid {
    background: $light-grey;
    tbody {
      tr {
        &:hover {
          background-color: rgba($info, .3);
        }
        td {
          border: solid 2px white;
          &:hover {
            background-color: $info;
          }
        }
      }
    }
  }
}
