// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0 solid transparent;
    padding: 10px 20px;
    border-radius: .25rem;
    letter-spacing: .5px;
    border-radius: 2px;

    &.bg-transparent {
        color: $primary;
    }

    &:hover {
        text-decoration: none;
    }
}

//button group
.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .btn {
        position: relative;
        display: inline-block;
        border-radius: 0;
        margin-left: -1px;


        &:first-child {
            border-radius: 3px 0 0 3px;
            margin-left: 0;
        }

        &:last-child {
            border-radius: 0 3px 3px 0;
        }
    }

    &.action-menu {
        .btn {
            padding: 10px 15px;
            font-size: .75em;
        }
    }
}

//dropdown button
.dropdown-menu {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  border: solid thin $light-grey;
  max-width: 250px;
  display: block;

  &.hidden {
    display: none;
  }
  li {
    a {
      text-decoration: none;
      color: white;
    }
  }
}