// .caret {
//   display: inline-block;
//   width: 0;
//   height: 0;
//   margin-left: 2px;
//   vertical-align: middle;
//   border-top:   @caret-width-base dashed;
//   border-top:   @caret-width-base solid ~"\9"; // IE8
//   border-right: @caret-width-base solid transparent;
//   border-left:  @caret-width-base solid transparent;
// }

// The dropdown wrapper (div)
.dropup,
.dropdown {
  position: relative;
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
  outline: 0;
}

// The dropdown menu (ul)
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  // z-index: @zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0; // override default ul
  list-style: none;
  // font-size: @font-size-base;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $light-grey;
  border: 1px solid $light-grey; // IE8 fallback
  border: 1px solid $light-grey;
  // border-radius: @border-radius-base;
  // .box-shadow(0 6px 12px rgba(0,0,0,.175));
  background-clip: padding-box;

  // Aligns the dropdown menu to right
  //
  // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
  // &.pull-right {
  //   right: 0;
  //   left: auto;
  // }

  // Dividers (basically an hr) within the dropdown
  // .divider {
  //   .nav-divider(@dropdown-divider-bg);
  // }

  // Links within the dropdown menu
  > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    // line-height: @line-height-base;
    color: $primary;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
  }
}

// Hover/Focus state
.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $primary;
    background-color: $primary;
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: $secondary;
    text-decoration: none;
    outline: 0;
    background-color: $mid-grey;
  }
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.dropdown-menu > .disabled > a {
  &,
  &:hover,
  &:focus {
    color: $mid-grey;
  }

  // Nuke hover/focus effects
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent;
    // cursor: @cursor-disabled;
  }
}

// Open state for the dropdown
.open {
  // Show the menu
  > .dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}