<div class="modal generic col {{destruct modalOpts.modalClasses}}">
  <div class="modal-content">
    <p>{{modalOpts.modalContent}}</p>
  </div>
  <div class="modal-footer text-right">
    <button class="btn bg-transparent" {{action 'close'}}>{{modalOpts.modalCancelButton}}</button>
  </div>
</div>
