<div class="modal generic col span-6 offset-3">
  <div class="modal-content">
    <p>{{modalOpts.modalContent}}</p>
  </div>
  <div class="modal-footer text-right">
    <button class="btn bg-primary" {{action 'close'}}>{{modalOpts.modalCancelButton}}</button>
  </div>
</div>
