{{#unless isActions}}
  <button class="lacsso btn bg-transparent">
    {{#if hasBlock}}{{yield}}{{else}}{{label}}{{/if}}
    <span class="lacsso icon-stack">
      <i class="lacsso icon icon-sort icon-stack-1x faded"></i>
      {{#if activeAscending}}
        <i class="lacsso icon icon-sort-down icon-stack-1x"></i>
      {{else}}
        {{#if activeDescending}}
          <i class="lacsso icon icon-sort-up icon-stack-1x"></i>
        {{/if}}
      {{/if}}
    </span>
  </button>
{{/unless}}
