// Google Font Downloader thing: https://google-webfonts-helper.herokuapp.com/

/* prompt-regular - latin */
@font-face {
  font-family: 'Prompt', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'),
       url(fonts/prompt-regular.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(fonts/prompt-regular.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-700 - latin */
@font-face {
  font-family: 'Prompt', sans-serif;
  font-style: bold;
  font-weight: 600;
  src: local('Prompt Semi Bold'), local('Prompt-Semi-Bold'),
       url(fonts/prompt-semi-bold.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(fonts/prompt-semi-bold.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
