.text-default {
  color: $primary;
}

.text-disabled {
  color: $primary;

}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;

}

.text-success {
  color: $success;
}

.text-info {
  color: $info;
}

.text-warning {
  color: $warning;
}

.text-error {
  color: $error;
}

.bg-default {
  @include bg-color($light-grey);
  @include contrasted($light-grey);
}

.bg-disabled {
  background-color: $mid-grey;
  color: $dark-grey;
}

.bg-primary {
  @include bg-color($primary);
  @include contrasted($primary);
}
.bg-secondary {
  @include bg-color($secondary);
  @include contrasted($secondary);
}
.bg-success {
  @include bg-color($success);
  @include contrasted($success);
}
.bg-info {
  @include bg-color($info);
  @include contrasted($info);
}
.bg-warning {
  @include bg-color($warning);
  @include contrasted($warning);
}
.bg-error {
  @include bg-color($error);
  @include contrasted($error);
}
.bg-transparent {
  background-color: transparent;
}