<div class="container">
  <div class="section row">
    <h2>Modals</h2>
    <button class="btn bg-primary" {{action 'openModal' 'generic-modal'}}>Show Generic Modal</button>
    <button class="btn bg-primary" {{action 'openModal' 'advanced-modal'}}>Show Advanced Modal</button>
  </div>
  <div class="section row">
    <h2>Table Component</h2>
    {{sortable-table tableData=tableModelData tableHeaders=tableHeaderList}}
  </div>

  {{modal-root}}
</div>
