<button class="btn bg-transparent" {{action 'openModal' 'generic-modal'}}>Show Generic Modal</button>
<button class="btn bg-transparent" {{action 'openModal' 'advanced-modal'}}>Show Advanced Modal</button>
{{modal-root}}
