// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Prompt', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: Consolas, "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier,  monospace !default;

/// Theme colors
$primary: #0075A8 !default;
$secondary: #34495E !default;

///State colors
$success: #27AE5F !default;
$warning: #E67E22 !default;
$error: #F15354 !default;
$info: #78C9CF !default;

//Contrast colors
$contrasted-dark-default: #3d3d3d !default;
$contrasted-light-default: white !default;


/// Copy text color
/// @type Color
$text-color: #454545 !default;

/// Light grey
/// @type Color
$light-grey: #ecf0f1 !default;

/// Medium grey
/// @type Color
$mid-grey: #99a3a8 !default;

/// Dark grey
/// @type Color
$dark-grey: #3d3d3d !default;

/// Main brand color
/// @type Color
$brand-color: $primary !default;
$brand-accent: $light-grey !default;

/// Container's maximum width
/// @type Length
$max-width: 1100px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'extra-small': 320px,
  'small': 640px,
  'medium': 768px,
  'large': 960px, // =1920/2, the-one-true-resolution
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
$base-url-fonts: #{$base-url}/fonts !default;
